<h2 class="user-title">Change routine Title</h2>

<form action="/rutina/{{rutina._id}}/edit" method="POST" class="form-container">
  <div>
    <label>
      New name:</label>
    <input id="newName" type="text" name="newName" placeholder="Pechos Duros" />
  </div>

  <button type="submit"> Confirm Change </button>
</form>
<p class="account-message">
  Dont you want to change the name?
  <a href="/profile">Profile</a></p>