<h1>BIENVENIDOS A IRON~FIT</h1>
<section>
  <img class="landing-image" src="/images/landing.jpg" alt="squat" />
</section>
<section>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore corporis
    molestiae nobis sed veritatis possimus magnam, deleniti neque repellat ut,
    quis, eligendi consequatur veniam inventore minima pariatur commodi sunt
    sit. Aliquam rerum magni tempore asperiores corrupti aliquid, libero
    mollitia obcaecati ipsam, voluptatibus suscipit aperiam dolorem. Totam,
    officiis reiciendis sit accusamus blanditiis numquam provident deserunt odit
    quam eaque minima illum excepturi? Laboriosam repellat ipsum enim aspernatur
    dolorem. Blanditiis sapiente molestias deleniti minus necessitatibus placeat
    laudantium accusamus perferendis ex odio eligendi, ipsum, fuga quam harum
    modi earum ducimus magni eius, id aspernatur. Nobis voluptate eius
    blanditiis totam odio id enim eveniet. Tempore hic temporibus iure sed
    voluptas beatae sit sapiente! Tenetur veritatis sint quos minima suscipit
    beatae iste, odio explicabo! Pariatur, laboriosam. Corrupti at optio quam
    cum non. Culpa rerum odio amet vitae velit asperiores aliquid quasi iure qui
    iusto exercitationem maiores officiis totam perspiciatis, sequi autem enim,
    consequatur voluptatum cumque quia. Unde eveniet placeat ex rerum aperiam,
    aliquid maiores aspernatur? Est earum tempore nemo voluptas libero quia
    labore nam omnis doloremque amet. Rerum fuga numquam nostrum, quidem sequi
    natus quasi temporibus. Praesentium illum eius cumque, veniam rem voluptas
    omnis possimus temporibus aut ex delectus, blanditiis, ducimus qui
    dignissimos commodi placeat adipisci voluptatum dolor autem iusto ipsam. In
    eos eligendi placeat. Fugiat? Sit expedita, commodi culpa magni ipsum ipsa,
    consequuntur maxime, dolorem quas animi amet aspernatur sint quos incidunt
    quaerat officia nulla ullam corrupti reiciendis vel quibusdam voluptates?
    Sit esse commodi nihil. Eum accusamus mollitia quae, saepe debitis harum
    eius enim quaerat necessitatibus explicabo. Commodi quo impedit earum quod
    tenetur itaque iure deserunt, laudantium blanditiis magni ullam inventore
    consectetur, quis nisi ab. Voluptatem necessitatibus illo non quidem fugit
    facilis iste beatae impedit officiis eius voluptate expedita pariatur
    possimus nisi numquam atque architecto ipsa, delectus facere? Quaerat quidem
    fugiat possimus perspiciatis earum. Aspernatur? Ipsa possimus, laboriosam
    deserunt aperiam hic aut nulla quia! Tempora fugiat earum pariatur laborum
    magnam voluptatibus officiis autem nihil, eos ab eum dignissimos itaque odit
    porro atque id? Eligendi, officiis. Molestiae omnis culpa praesentium
    tempora, facilis suscipit ipsum, hic perferendis repellat labore at
    recusandae dolorum facere eos expedita ipsa quibusdam! Eos excepturi ratione
    aliquam, maiores reiciendis voluptates? Voluptatem, aliquid alias? Sequi
    nulla quis quisquam ipsam ut. Cum, harum laudantium assumenda voluptatibus
    veritatis hic nesciunt officia molestiae? Eos, culpa? Totam ex laboriosam
    quia voluptas obcaecati incidunt numquam? Esse natus quidem accusantium?
    Reprehenderit similique pariatur eligendi ut totam harum assumenda nemo
    recusandae unde maxime? Omnis nobis commodi sed, impedit beatae numquam
    modi. Repellat vel eveniet reprehenderit pariatur beatae in voluptate
    debitis quasi! Eaque provident non atque sapiente. Harum sapiente ad iste
    maxime, voluptas deleniti iure nobis molestias, reprehenderit dolorem beatae
    rem blanditiis consequatur quidem mollitia ullam? Quasi consequatur
    voluptatibus dolor blanditiis enim. Nostrum placeat neque obcaecati eaque
    facilis dolorum, est facere repudiandae, temporibus, nulla at? In, dicta
    dolorum perferendis iste consectetur quis, quisquam recusandae corrupti et,
    quidem consequatur accusamus? Quo, ipsum rem? Cupiditate autem vero expedita
    ipsam possimus maiores ducimus laborum ut, magnam, soluta corporis quaerat?
    Eum, consequuntur? Dolores cumque, amet, placeat tenetur nisi doloremque
    labore exercitationem vero similique, sed illum ad. Consequuntur, at
    facilis! Possimus commodi rerum perspiciatis fuga. Recusandae culpa laborum,
    nisi voluptas, expedita delectus enim pariatur ipsum sit aliquid nobis
    repellat quibusdam nam deleniti harum quae molestiae sunt sed. Tempore, unde
    impedit. Quod, id. Vitae enim nulla vel pariatur dignissimos doloremque sunt
    nemo at aut corporis animi fugit perferendis numquam incidunt sapiente
    molestias iusto perspiciatis, in minima distinctio rem? Neque ratione
    consequatur voluptatum in, atque asperiores iusto sed, eos ut, culpa harum
    voluptate aliquam quidem? Laboriosam voluptates nesciunt provident voluptate
    obcaecati, atque consequatur aut rerum necessitatibus quas inventore
    doloribus.</p>
</section>