<h1>BIENVENIDOS A IRON~FIT</h1>
<section>
  <img class="landing-image" src="/images/landing.jpg" alt="squat" />
</section>
<section>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tenetur
    repellat numquam a minima tempore maxime animi, excepturi fuga ipsa, saepe
    laborum repudiandae officiis minus ducimus odit impedit aspernatur ratione?
    Recusandae ea voluptatibus, quae porro iure, officia incidunt perspiciatis
    similique exercitationem autem quisquam dolor praesentium dolores optio
    quibusdam, nostrum quo consectetur aut suscipit nemo neque! Dolor modi
    fugiat molestiae rem.</p>
</section>