<div class="title-land-container">
  <h1 class="title-home">BIENVENIDOS A IRON~FIT</h1>
</div>

<section class="home-container" id="home">
  <img class="landing-image" src="/images/landing.jpeg" alt="squat" />
  <div class="text-container">
    <p class="first-lineText">Try to be <b class="better">better</b></p>
    <p class="secondary-lineText">than</p>
    <div classe="span-container">
      <span data-text="Yourself">Yourself </span>
    </div>
  </div>
</section>
<section class="features-section" id="about">
  <div class="features-container">
    <div class="feature-card">
      <img src="/images/to-do-list.png" alt="todo" />
      <h3 class="title-card">Track</h3>
      <p>Track your routine, have a good management of the improvements</p>
    </div>
    <div class="feature-card">
      <img src="/images/dumbbell.png" alt="lift" />
      <h3 class="title-card">Exercises</h3>
      <p>More than 2500+ exercises can be part of your routine</p>
    </div>
    <div class="feature-card">
      <img src="/images/running-shoes.png" alt="running" />
      <h3 class="title-card">Aerobic exercises</h3>
      <p>If you like to run or do aerobics, we are the perfect app for you</p>
    </div>
    <div class="feature-card">
      <img src="/images/friends.png" alt="friends" />
      <h3 class="title-card">Share yours workouts</h3>
      <p>With us you can share your improvements and see how your friends are
        going</p>
    </div>
  </div>
  <div class="information-container">
    <p class="">
      Best App to track
      <br />
      your trainings
    </p>
    <p>
      Life is a sport
      <br />
      Make it
      <b> COUNT</b>
    </p>
  </div>
  <div class="image-container">
    <img class="imagen" src="/images/rude.png" alt="rude" />
  </div>
</section>
<section class="register-section">
  <img src="/images/trad.jpeg" alt="girl" />
  <h2 class="register-title">Start your experience</h2>
  <a class="anchor-button register-button" href="/signup">Sign in</a>
</section>