<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="nav-container">
      <a href="/profile" class="anchor-button">Bienvenido
        {{usernameCapitalized}}</a>
      <ul style="list-style: none;">
        <li id="to-right">
          <a href="/">Home</a>
          <a href="/exercises">Exercises</a>
          {{#if loggedUser}}
            <a href="/profile" class="gordito">My Profile</a>
            <a href="/logout">Logout</a>
          {{else}}
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
          {{/if}}

        </li>
      </ul>
    </div>

    {{{body}}}
    <footer>
      <div class="pos-abs">
      <div class="copyright">
        <p>Copyright 2022 - All rights reserved</p>
        <div class="linkedin">
          <a class="mr" href="https://www.linkedin.com/in/blaisedecarvalho/">
            Blaise
          </a>
          <a href="https://www.linkedin.com/in/christiangecchelin"/>
          Christian</a>
          </div>
      </div>
      <div>
        <a href="https://github.com/Zeble1603/iron-fit">
        <img src="/images/github.png" alt="" />
        </a>
      </div>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>