<div class="box-detail">
  <h4 class="card-title">Execise Name</h4>
  <div class="detail-container">

    <div class="key-container">
      <p class="key">Body part</p>
      <p class="key">Target Muscle</p>
      <p class="key">Equipment</p>
    </div>
    <div class="answer-container">
      <p class="answer">Body part</p>
      <p class="answer">Target Muscle</p>
      <p class="answer">Equipment</p>
    </div>

    <img src="" alt="ApiGIF" />

  </div>
  <a href="" class="anchor-button">Agregar</a>
</div>