<h2>Bienvenido {{loggedUser.username}} !</h2>

<h3>Mis plantillas:</h3>
{{!-- {{#each loggedUser.rutinas}} --}}
<div class="cards-container">
  <div class="rutina-container">
    <p class="card-title">Rutina Name</p>
    <a href="" class="anchor-button">Detalles</a>
  </div>
  <div class="rutina-container">
    <p class="card-title">Rutina Name</p>
    <a href="" class="anchor-button">Detalles</a>
  </div><div class="rutina-container">
    <p class="card-title">Rutina Name</p>
    <a href="" class="anchor-button">Detalles</a>
  </div>

</div>

{{!-- {{/each}} --}}
<h3>Historial:</h3>
{{!-- {{#each loggedUser.rutinasRealizadas}} --}}
<div class="cards-container">
  <div class="rutina-container">
    <p class="card-title">Rutina Name</p>
    <a href="" class="anchor-button">Detalles</a>
  </div>
  <div class="rutina-container">
    <p class="card-title">Rutina Name</p>
    <a href="" class="anchor-button">Detalles</a>
  </div>
  <div class="rutina-container">
    <p class="card-title">Rutina Name</p>
    <a href="" class="anchor-button">Detalles</a>
  </div>

</div>
{{!-- {{/each}} --}}