* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  /* background: linear-gradient(147deg, #8c1cd1 0%, #ce93d8 74%); */
  background-color: #4a0f6f;
}
body {
  /* background: linear-gradient(147deg, #8c1cd1 0%, #ce93d8 74%); */
  background-color: #4a0f6f;
  width: 100%;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #4a0f6f;
}
ul {
  width: 50%;
}
ul li {
  width: 85%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: #ffff00;
  font-size: 2.2rem;
}
ul li button {
  padding: 5px 15px;
  outline: none;
  background-color: #ffff00;
  border: 2px solid black;
  font-size: 2rem;
  font-weight: 500;
}
ul li span {
  font-size: 4rem;
}
ul li a,
.form-container button,
.account-message a,
.cards-container a,
.anchor-button {
  padding: 5px 15px;
  outline: none;
  background-color: #8c1cd1;
  color: white;
  border: 2px solid white;
  text-decoration: none;
}
ul li a:visited {
  text-decoration: none;
}
ul li a:hover,
ul li button:hover,
.anchor-button:hover {
  background-color: white;
  border: 2px solid #8c1cd1;
  color: #8c1cd1;
}
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 280px;
  margin: 0 auto;
  gap: 30px;
}
.title-land-container {
  background-color: #4a0f6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-home {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  font-weight: 700;
  color: white;
  box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.3);
}
.home-container .text-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  text-align: left;
  bottom: 10%;
  left: 5%;
}
.home-container .text-container .first-lineText {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 6rem;
  color: #fff;
}
.home-container .text-container .secondary-lineText {
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
  line-height: 5.2rem;
}
.span-container {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  height: 52px;
}
.home-container .text-container span {
  /* color: #1d062b;
  -webkit-text-stroke: 0.3vw yellow; */
  position: absolute;
  font-size: 5rem;
  font-weight: 500;
  line-height: 5.2rem;
  color: rgba(0, 0, 0, 0);
  left: 110;
}
.home-container .text-container span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0px;
  width: 0;
  height: 5rem;
  padding-right: 3.9px;
  background: linear-gradient(147deg, #ce93d8 0%, #8c1cd1 74%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  border-right: 5px solid #8c1cd1;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}
.better {
  font-size: 3.8rem;
}
.user-title,
h1,
h2 {
  background: linear-gradient(147deg, #ce93d8 0%, #8c1cd1 74%);
  margin-top: 60px;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 500;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.6rem;
}
.features-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(90deg, #1a43b7 0%, #dc68fe 74%);
  height: 1000px;
}
.features-section .features-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
  z-index: 2;
}
.features-section .features-container .feature-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.features-section .features-container .feature-card .title-card {
  color: white;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}
.features-section .features-container .feature-card img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.features-section .features-container .feature-card p {
  color: white;
  text-align: center;
  font-size: 1.6rem;
}
.features-section .information-container {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 100px;
  font-size: 5rem;
  width: 70%;
  letter-spacing: 4px;
}
.features-section .image-container {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.features-section .image-container img {
  height: 500px;
  float: right;
}
.register-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(90deg, #1a43b7 0%, #dc68fe 74%);
}
.register-section .register-title {
  background: linear-gradient(147deg, #8c1cd1 0%, #ce93d8 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
  letter-spacing: 0.6rem;
  position: absolute;
  top: 5;
  left: calc((50% - 380px));
  font-weight: 700;
  font-size: 6rem;
  margin-top: 0;
}
.register-section img {
  height: 800px;
  width: 100%;
}
.register-button {
  position: absolute;
  padding: 13px 100px;
  left: calc(50% - 132px);
  text-align: center;
  top: 120px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  gap: 80px;
}
.mr {
  margin-right: 5px;
}
footer {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 100px;
}
footer .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: white;
}
footer .copyright a {
  color: white;
  font-weight: 700;
}
footer img {
  height: 80px;
  width: 80px;
}
.form-container label {
  margin-right: 15px;
  color: #ffff00;
  font-size: 1.8rem;
}
.form-container input {
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.form-container button:hover,
.form-container input:focus {
  border: 2px solid #fff000;
  background-color: black;
  color: #fff000;
}
.form-container button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.8rem;
  cursor: pointer;
}
.form-container p,
.account-message {
  font-size: 1.8rem;
  color: #fff000;
}
.form-container p a {
  margin-left: 10px;
  border: 1px solid #fff000;
  padding: 5px 10px;
}
.form-container p a:visited {
  color: #fff000;
}
.form-container p a:hover {
  border: 1px solid black;
  background-color: #fff000;
  color: black;
}
.landing-image {
  margin-top: 5vh;
  width: 100%;
  height: 80vh;
}
.landing-description {
  margin: 10px auto;
  width: 80%;
  color: #fff000;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: arial;
  line-height: 2.5rem;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.account-message {
  margin-top: 50px;
  text-align: center;
}
.account-message a {
  border-radius: 10px;
}
.cards-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.rutina-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff000;
  padding: 20px 50px;
}
h3 {
  margin: 50px 100px;
  font-size: 2rem;
  color: #fff000;
}

.container-detail {
  width: 80%;
  margin: 100px auto;
  height: 500px;
  border: 2px solid #fff000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
}
.container-detail .card-title,
.rutina-container .card-title {
  margin: 30px auto;
  font-size: 2rem;
  color: #fff000;
  letter-spacing: 2px;
}
.workout-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.input-container,
.button-container,
.title-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
}
.input-container,
.button-container {
  gap: 10px;
}
.workout-row .exercise-name {
  font-size: 1.6rem;
  color: #fff000;
  line-height: 4rem;
}
.workout-row .input-workout {
  outline: none;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}
.workout-row span {
  font-size: 1.6rem;
  color: #fff000;
  line-height: 4rem;
}
.anchor-button {
  font-size: 1.8rem;
  cursor: pointer;
}
.add-workout {
  margin-bottom: 20px;
}
.start-button {
  position: absolute;
  bottom: 50px;
}
.box-detail {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0px;
  border: 2px solid #fff000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff000;
  margin-top: 100px;
  gap: 50px;
  margin-bottom: 100px;
}
.box-detail img {
  border-radius: 50px;
}
.box-detail .card-title {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
}
.key-container,
.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}
