* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  background: #212121;
}
body {
  background: #212121;
  width: 100%;
}
ul {
  width: 100%;
}
ul li {
  width: 85%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: #ffff00;
  font-size: 2.2rem;
}
ul li button {
  padding: 5px 15px;
  outline: none;
  background-color: #ffff00;
  border: 2px solid black;
  font-size: 2rem;
  font-weight: 500;
}
ul li span {
  font-size: 4rem;
}
ul li a,
.form-container button,
.account-message a,
.cards-container a,
.anchor-button {
  padding: 5px 15px;
  outline: none;
  background-color: #ffff00;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}
ul li a:visited {
  text-decoration: none;
}
ul li a:hover,
ul li button:hover,
.anchor-button:hover {
  background-color: black;
  border: 2px solid #ffff00;
  color: #ffff00;
}
.user-title,
h1,
h2 {
  margin-top: 60px;
  font-size: 2.5rem;
  color: #ffff00;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.6rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  gap: 80px;
}
.form-container label {
  margin-right: 15px;
  color: #ffff00;
  font-size: 1.8rem;
}
.form-container input {
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.form-container button:hover,
.form-container input:focus {
  border: 2px solid #fff000;
  background-color: black;
  color: #fff000;
}
.form-container button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.8rem;
  cursor: pointer;
}
.form-container p,
.account-message {
  font-size: 1.8rem;
  color: #fff000;
}
.form-container p a {
  margin-left: 10px;
  border: 1px solid #fff000;
  padding: 5px 10px;
}
.form-container p a:visited {
  color: #fff000;
}
.form-container p a:hover {
  border: 1px solid black;
  background-color: #fff000;
  color: black;
}
.landing-image {
  margin-top: 5vh;
  width: 100%;
  height: 80vh;
}
.landing-description {
  margin: 10px auto;
  width: 80%;
  color: #fff000;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: arial;
  line-height: 2.5rem;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.account-message {
  margin-top: 50px;
  text-align: center;
}
.account-message a {
  border-radius: 10px;
}
.cards-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.rutina-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff000;
  padding: 20px 50px;
}
h3 {
  margin: 50px 100px;
  font-size: 2rem;
  color: #fff000;
}

.container-detail {
  width: 80%;
  margin: 100px auto;
  height: 500px;
  border: 2px solid #fff000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
}
.container-detail .card-title,
.rutina-container .card-title {
  margin: 30px auto;
  font-size: 2rem;
  color: #fff000;
  letter-spacing: 2px;
}
.workout-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.input-container,
.button-container,
.title-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
}
.input-container,
.button-container {
  gap: 10px;
}
.workout-row .exercise-name {
  font-size: 1.6rem;
  color: #fff000;
  line-height: 4rem;
}
.workout-row .input-workout {
  outline: none;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}
.workout-row span {
  font-size: 1.6rem;
  color: #fff000;
  line-height: 4rem;
}
.anchor-button {
  font-size: 1.8rem;
  cursor: pointer;
}
.add-workout {
  margin-bottom: 20px;
}
.start-button {
  position: absolute;
  bottom: 50px;
}
.box-detail {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0px;
  border: 2px solid #fff000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff000;
  margin-top: 100px;
  gap: 50px;
  margin-bottom: 100px;
}
.box-detail img {
  border-radius: 50px;
}
.box-detail .card-title {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
}
.key-container,
.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}
