* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #212121;
  width: 100%;
  height: 100vh;
}
ul {
  width: 100%;
}
ul li {
  width: 85%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: #ffff00;
  font-size: 2.2rem;
}
ul li button {
  padding: 10px 15px;
}
