* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #212121;
  width: 100%;
  height: 100vh;
}
ul {
  width: 100%;
}
ul li {
  width: 85%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: #ffff00;
  font-size: 2.2rem;
}
ul li button {
  padding: 5px 15px;
  outline: none;
  background-color: #ffff00;
  border: 2px solid black;
  font-size: 2rem;
  font-weight: 500;
}
ul li span {
  font-size: 4rem;
}
ul li a,
.form-container button {
  padding: 5px 15px;
  outline: none;
  background-color: #ffff00;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}
ul li a:visited {
  text-decoration: none;
}
ul li a:hover,
ul li button:hover {
  background-color: black;
  border: 2px solid #ffff00;
  color: #ffff00;
}
.user-title,
h1 {
  margin-top: 60px;
  font-size: 2.5rem;
  color: #ffff00;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.6rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  gap: 80px;
}
.form-container label {
  margin-right: 15px;
  color: #ffff00;
  font-size: 1.8rem;
}
.form-container input {
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.form-container button:hover,
.form-container input:focus {
  border: 2px solid #fff000;
  background-color: black;
  color: #fff000;
}
.form-container button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.8rem;
  cursor: pointer;
}
.form-container p {
  font-size: 1.8rem;
  color: #fff000;
}
.form-container p a {
  margin-left: 10px;
  border: 1px solid #fff000;
  padding: 5px 10px;
}
.form-container p a:visited {
  color: #fff000;
}
.form-container p a:hover {
  border: 1px solid black;
  background-color: #fff000;
  color: black;
}
.landing-image {
  margin-top: 5vh;
  width: 100%;
  height: 80vh;
}
.landing-description {
  margin: 10px auto;
  width: 80%;
  color: #fff000;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: arial;
  line-height: 2.5rem;
}
